html { height: 100%; }
body { min-height: 100%; }

ul {
  margin-bottom: 0;
}

.site-logo {
  display: inline-block;

  img {
    width: 75px;
    height: auto;
  }
}

hr {
  width: 2.5rem;
  height: 3px;
  border: 0;
  background-color: $brand-yellow;
  clear: both;
  margin: $spacer-y*1.5 0;
}

.missing-topic-banner {
  @include make-container();
  display: block;
  background-color: $brand-yellow;
  padding-top: $spacer-y;
  padding-bottom: $spacer-y;
  font-size: $font-size-footer;
  text-align: center;
  text-transform: uppercase;

  &, &:hover {color: $black;}
}
