html { height: 100%; }

body {
  @include media-breakpoint-down(sm) {
    min-height: 100%;
  }
}

ul {
  margin-bottom: 0;
}

.site-logo {
  display: inline-block;

  img {
    width: 75px;
    height: auto;
  }
}

hr {
  width: 2.5rem;
  height: 3px;
  border: 0;
  background-color: $brand-yellow;
  clear: both;
  margin: $spacer-y*1.5 0;
}

.page-container {
  margin-top: $header-height;
}

.missing-topic-banner {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: $font-size-footer;
  text-transform: uppercase;
  color: $black;

  @include media-breakpoint-down(sm) {
    display: block;
    @include make-container();
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
    background-color: $brand-yellow;
    text-align: center;
  }
}
