@mixin overlay-after($color, $hover-color: false) {
  // For semi-transparent overlay in :after
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: background-color $transition-time ease-in-out;
    background-color: $color;
  }

  @if $hover-color {
    &:hover:after {
      background-color: $hover-color;
    }
  }

}

html { height: 100%; }

body {
  @include media-breakpoint-down(sm) {
    min-height: 100%;
  }
}

h1 {
  margin: $spacer-y 0;
  font-size: $font-size-h1;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-family: $font-family-sans-condensed;
  font-weight: 600;
  line-height: 1.25em;

}

ul {
  margin-bottom: 0;
}

.site-logo {
  display: inline-block;

  img {
    width: 75px;
    height: auto;
  }
}

hr {
  width: 2.5rem;
  height: 3px;
  border: 0;
  background-color: $brand-yellow;
  clear: both;
  margin: $spacer-lg auto;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}
p + p {
  margin-top: 1rem;
}

q {
  quotes: "“" "”" "‘" "’";
  display: inline-block;
  position: relative;
  padding: 0 1.5rem;
  font-family: $font-family-sans-condensed;
  font-size: $font-size-sm;
  line-height: 1.5em;
  font-weight: 300;
  color: $gray-lighter;
  text-transform: uppercase;
}
q:before, q:after {
  position: absolute;
  color: #C1C1C1;
  font-family: $font-family-serif;
  font-size: 3rem;
}
q:before {
  content: open-quote;
  left: 0;
  top: 0.15em;
}
q:after {
  content: close-quote;
  right: 0;
  bottom: -0.3em;
}


.page-container {
  margin-top: $header-height;
}

.missing-topic-banner {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: $font-size-footer;
  text-transform: uppercase;
  color: $black;

  @include media-breakpoint-down(sm) {
    display: block;
    @include make-container();
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
    background-color: $brand-yellow;
    text-align: center;
  }
}

body.home .topic-card,
body.tax-topic .cover-photo {
  @include overlay-after(rgba($black, 0.25));
}

.topic-index-wrap {
  font-family: $font-family-serif;
  font-size: 1rem;
}

.topics-length {
  font-size: 0.75em;
  position: relative;
  top: -0.8em;
}

.topic-index-slash {
  color: $brand-yellow;
  font-size: 1.25em;
  position: relative;
  left: -0.1em;
  top: -0.2em;
}

.topic-index {
  color: $brand-yellow;
  font-size: 1em;
  position: relative;
  left: -0.2em;
}
