.footer-right-wrap {
  overflow: auto;
  padding: $spacer-lg $spacer-lg;
  text-align: center;

  .nav-social-icons {
    display: inline-block;
    float: initial;
  }

  & > * + * {
    margin-top: $spacer-sm;
  }
}

small.project-authors {
  display: block;
  color: $gray-lightest;
  font-size: $font-size-sm;
  font-weight: 300;
}


@include media-breakpoint-up(md) {
  $footer-line-height: 2.25rem;

  body:not(.home) footer {
    .container {
      padding: $spacer-lg $spacer-xl;
    }

    .missing-topic-banner {
      display: inline-block;
      line-height: $footer-line-height;

      &:hover { text-decoration: underline; }
    }

    .footer-right-wrap {
      display: inline-block;
      float: right;
      padding: 0;
    }

    .nav-social-icons {
      line-height: $footer-line-height;
      padding: 0;
      float: right;
    }

    .project-authors {
      display: inline-block;
      margin-top: 0;
      line-height: $footer-line-height;
      margin-right: $spacer;
    }
  }
}
