header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: $header-bg;

  & > .container {
    @include make-container();
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
    text-align: center;
    position: static; // The .nav-primary can stretch to 100% body height thanks to this
  }

  a {
    color: $header-link-color;

    &:hover {color: $header-link-color;}
  }

  .site-logo { height: $logo-height; }
}
