// Home @page
body.home {
  display: flex;
  flex-flow: column;

  header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .page-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    display: flex;
    flex-direction: column;
  }

  .topics-index-carousel {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  .topic-card {
    $card-padding: $spacer*0.75;
    flex-grow: 1;

    background-size: cover;
    padding: $card-padding;
    color: $white;

    // For semi-transparent overlay in :after
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba($black, 0.25);
    }

    .topic-index-wrap {
      position: absolute;
      font-family: $font-family-serif;
    }

    .topics-length {
      font-size: $font-size-xs;
      position: relative;
      top: -0.5rem;
    }

    .topic-index-slash {
      color: $brand-yellow;
      font-size: $font-size-lg;
      position: relative;
      left: -0.1rem;
      top: -0.2rem;
    }
    .topic-index {
      color: $brand-yellow;
      font-size: $font-size-base;
      position: relative;
      left: -0.2rem;
    }

    .topic-name {
      position: absolute;
      left: $card-padding;
      bottom: $card-padding;
      width: 13.5rem;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: $font-size-lg;
      font-weight: 900;
    }
  }

  footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
}
