body.single article.post {
  .container {
    @include make-container();
    max-width: map-get($grid-breakpoints, lg);
    // padding-left: $grid-gutter-width-base/3;
    // padding-right: $grid-gutter-width-base/3;
  }

  header {
    text-align: center;
  }

  h1 {
    display: inline-block;
    width: 100%;
  }

  .cover-image {
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 0 $spacer-lg;
    }
  }

  .cover-image + .entry-content {
    margin-top: $spacer-xl;
  }
}

.cover-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.layout-row {
  @include make-row();
  position: relative;

  & + & {
    margin-top: $spacer-sm;
  }
}

.pre-text-column,
.text-column,
.text-column-merged,
.quote-column {
  @include make-col-ready((
    xs: $grid-gutter-width-base,
    sm: $grid-gutter-width-base,
    md: $grid-gutter-width-large/2,
    lg: $grid-gutter-width-large/2,
    xl: $grid-gutter-width-large/2
  ));
}

@include media-breakpoint-up(md) {
  .pre-text-column {
    @include make-col(2);
    position: relative;
  }

  .text-column {
    @include make-col(3);
  }

  .text-column-merged {
    @include make-col(6);
  }


}

.quote-column {
  margin-top: $spacer;
  text-align: center;

  @include media-breakpoint-up(md) {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
  }

  @include media-breakpoint-between(md, lg) {
    padding-right: 0;
  }
}

.image-column {
  margin-top: $spacer-lg;

  img {
    max-width: 100%;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    text-align: center;
  }
}

