body.tax-topic {
  h3 {
    margin-bottom: $spacer-sm;
  }
  .cover-photo {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
  }

  .main-wrap .container {
    @include make-container();
  }

  .topic-intro {
    text-align: center;
  }

  .topic-index-wrap {
    margin-bottom: $spacer-lg;
    font-size: 1.25rem;
  }

  .topic-description {
    margin-top: $spacer-lg;
    color: $gray-lightest;
    font-family: $font-family-serif;
    font-style: italic;
  }

  .topic-section {
    overflow: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
      margin-bottom: $spacer-lg;
    }
  }

  .topic-articles {
    background-color: $bg-lighter-gray;

    & article+article {
      margin-top: $spacer-xl;
    }
  }

  article {
    h3 {
      color: $gray-lightest;
    }

    p {
      font-size: $font-size-sm;
      font-weight: 300;
    }

    a.article-link {
      display: inline-block;
      font-size: $font-size-xs;
      font-weight: 700;
      border: 1px solid lighten($gray-lightest, 10%);
      border-radius: 25px;
      line-height: 50px;
      padding: 0 $spacer-lg;
      transition: all $transition-time ease-in-out;
      margin-top: $spacer-sm;

      &:hover {
        background-color: $brand-yellow;
        border-color: $brand-yellow;

        text-decoration: none;
      }
    }
  }

  .fun-link {
    $fun-link-size-sm: 280px;
    $fun-link-size-lg: 240px;
    display: block;
    position: relative;
    width: 100%;
    max-width: $fun-link-size-sm;
    min-height: $fun-link-size-sm;
    margin: 0 auto;
    padding: $spacer-lg;
    background-color: $brand-yellow;
    text-align: center;

    @include media-breakpoint-up(md) {
      width: $fun-link-size-lg;
      height: $fun-link-size-lg;
      min-height: auto;
      overflow: hidden;
      float: left;
      border: 1px solid $white;
    }

    &:hover {
      text-decoration: none;
    }

    p {
      font-family: $font-family-serif;
    }
  }

  .fun-link-arrow {
    color: $white;
    font-size: 2rem;
    position: absolute;
    bottom: .5rem;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .topic-video-wrap {
    position: relative;
    // padding-bottom: 56.25%; // 16:9
    padding-bottom: 62.5%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    background-color: $black;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
      height: 720px;
    }

    iframe, object, embed, .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video-overlay {
      z-index: 1;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      opacity: 1;
      transition: opacity .6s ease-in-out;
      @include overlay-after(rgba($black, 0.45), rgba($black, 0.55));
      position: absolute;

      h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        margin-top: 25px;
        padding: 0 $spacer-lg;
        color: $white;
        font-size: $font-size-h2;
        text-shadow: 0 0 5px rgba($black, .5);

        @include media-breakpoint-up(md) {
          font-size: $font-size-h1;
          padding-left: 10%;
          padding-right: 10%;
        }
      }

      &.fadeOut {
        opacity: 0;
      }

      &:hover .video-play-button {
        color: $white;
        background-color: rgba($white, .3);
        border-color: rgba($white, .5);
      }
    }
  }

  .video-play-button {
    $button-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: $button-size;
    height: $button-size;
    margin-left: -$button-size/2;
    margin-top: -$button-size/2 - 20px;
    border-radius: $button-size/2;
    border: 1px solid rgba($white, .3);
    background-color: rgba($white, .1);
    color: $white;
    font-size: 3rem;
    transition: all $transition-time ease-in-out;

    &:before {
      left: .2rem;
      position: relative;
    }
  }

  .adjacent-topic {
    & > a {
      display: block;
      padding: $spacer-y $spacer-lg;
      background-size: cover;
      min-height: 160px;
    }

    label {
      font-family: $font-family-sans-condensed;
      font-weight: 300;
      font-size: $font-size-sm;
      text-transform: uppercase;
    }

    h4 {
      margin-bottom: 0;
      position: absolute;
      bottom: 1.25rem;

      @include media-breakpoint-up(md) {
        width: calc(100% - #{$spacer-lg*2});

      }
    }
  }

  .next-topic > a {
    @include overlay-after(rgba(darken($brand-yellow, 5%), .8), rgba($brand-yellow, .5));

    label { font-weight: 400; }
  }


  .prev-topic > a {
    @include overlay-after(rgba($black, .8), rgba($black, .6));
    color: $white;
  }

  @include media-breakpoint-up(md) {
    .page-container {
      overflow: auto;
    }

    .main-wrap {
      overflow: auto;
    }

    .cover-photo-wrap,
    .main-content-wrap {
      width: 50%;
    }

    .cover-photo-wrap {
      position: fixed;
    }

    .main-content-wrap {
      float: right;
    }

    .adjacent-topic-links {
      width: 50%;
      float: right;

      .prev-topic {
        width: 50%;
        float: left;
      }

      .next-topic {
        width: 50%;
        float: right;
      }
    }
  }
}
