body.tax-topic {
  h3 {
    margin-bottom: $spacer-sm;
  }
  .cover-photo {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
  }

  .main-wrap .container {
    @include make-container();
  }

  .topic-intro {
    text-align: center;
  }

  .topic-index-wrap {
    margin-bottom: $spacer-lg;
    font-size: 1.25rem;
  }

  .topic-description {
    margin-top: $spacer-lg;
    color: $gray-lightest;
    font-family: $font-family-serif;
    font-style: italic;
  }

  .topic-section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
      margin-bottom: $spacer-lg;
    }
  }

  .topic-articles {
    background-color: $bg-lighter-gray;

    & article+article {
      margin-top: $spacer-xl;
    }
  }

  article {
    h3 {
      color: $gray-lightest;
    }

    p {
      font-size: $font-size-sm;
      font-weight: 300;
    }

    a.article-link {
      display: inline-block;
      font-size: $font-size-xs;
      font-weight: 700;
      border: 1px solid lighten($gray-lightest, 10%);
      border-radius: 25px;
      line-height: 50px;
      padding: 0 $spacer-lg;
      transition: all $transition-time ease-in-out;
      margin-top: $spacer-sm;

      &:hover {
        background-color: $brand-yellow;
        border-color: $brand-yellow;

        text-decoration: none;
      }
    }
  }

  .fun-link {
    $fun-link-size: 280px;
    display: block;
    position: relative;
    width: 100%;
    max-width: $fun-link-size;
    min-height: $fun-link-size;
    margin: 0 auto;
    padding: $spacer-lg;
    background-color: $brand-yellow;
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    p {
      font-family: $font-family-serif;
    }
  }

  .fun-link-arrow {
    color: $white;
    font-size: 2rem;
    position: absolute;
    bottom: .5rem;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .topic-video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    iframe, object, embed, .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .video-overlay {
      z-index: 1;
      background-size: cover;
      background-position: center;
      cursor: pointer;

      &:after {
        transition: background-color $transition-time ease-in-out;
      }

      &:hover:after {
        background-color: rgba($black, 0.35);
      }

      &:hover .video-play-button {
        color: $white;
        background-color: rgba($white, .3);
        border-color: rgba($white, .5);
      }
    }
  }

  .video-play-button {
    $button-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: $button-size;
    height: $button-size;
    margin-left: -$button-size/2;
    margin-top: -$button-size/2;
    border-radius: $button-size/2;
    border: 1px solid rgba($white, .3);
    background-color: rgba($white, .1);
    color: $white;
    font-size: 3rem;
    transition: all $transition-time ease-in-out;

    &:before {
      left: .2rem;
      position: relative;
    }
  }
}
